<!DOCTYPE html>
<html>

<head>
  <title>Calendario de Eventos</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
  <h1>Calendario de Eventos</h1>

  <table>
    <tr>
      <th>Título</th>
      <th>Descripción</th>
      <th>Fecha</th>
    </tr>
    {% for evento in eventos %}
    <tr>
      <td>{{ evento[1] }}</td>
      <td>{{ evento[2] }}</td>
      <td>{{ evento[3].strftime('%d/%m/%Y') }}</td>
    </tr>
    {% endfor %}
  </table>
  <h2>Agregar Evento</h2>
  <form action="{{ url_for('guardar_evento') }}" method="post">
    <label for="titulo">Título del evento:</label>
    <input type="text" id="titulo" name="titulo" required>
    <br>

    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" name="descripcion" required></textarea>
    <br>

    <label for="fecha">Fecha:</label>
    <input type="date" id="fecha" name="fecha" required>
    <br>

    
  </form>
  <div class="btn-container">
    <input type="submit" value="Guardar Evento" class="btn">
    {% if 'usuario' in session %}
    <a href="{{ url_for('logout') }}" class="btn">Cerrar sesión</a>
    {% endif %}
  </div>
  
</body>

</html>