<!DOCTYPE html>
<html>
<head>
  <title>Iniciar sesión</title>
</head>
<body>
  <h1>Iniciar sesión</h1>
  {% if mensaje %}
    <p>{{ mensaje }}</p>
  {% endif %}
  <form method="post" action="{{ url_for('login') }}">
    <label for="nombre_usuario">Nombre de usuario:</label>
    <input type="text" id="nombre_usuario" name="nombre_usuario" required>
    <br>
    <label for="contrasena">Contraseña:</label>
    <input type="password" id="contrasena" name="contrasena" required>
    <br>
    <input type="submit" value="Iniciar sesión">
  </form>
</body>
</html>
